{% include 'base.html.twig' %}

{% block body %}
    <form name="add" method="POST" enctype="multipart/form-data">

        <div class="form-group">
            <label for="exampleInputFile">Tutaj dodajesz mema jak coś</label>
            <input type="file" name="imageFile" class="form-control-file" />
        </div>

        <div class="form-group">
            <label for="">Nazwa</label>
            <input type="text" name="imageName" class="form-control-file" />
        </div>
        <div class="form-group">
        <button type="submit" class="btn btn-primary">Mariusz</button>
        </div>
    </form>
{% endblock %}