{% include 'base.html.twig' %}

{% block body %}
    <div class="content">
        <div class="closeContent">
            {% for mem in memy %}
                <a href="/queue/mem/{{ mem.id }}">
                    <img src="{{ images_dir }}/{{ mem.image_name }}"/>
                </a>
                <p class="hehs"></p>
                <span {{ mem.votes }}></span>
            {% endfor %}
        </div>
    </div>
{% endblock %}
