{% extends 'base.html.twig' %}

{% block body %}
{#    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-4">
                <h1 class="text-center login-title">Tutaj się logujesz</h1>
                <div class="account-wall">
                    <img class="profile-img" src="https://vignette.wikia.nocookie.net/leagueoflegends/images/f/f8/LoL_Facebook_Icon_35.png/revision/latest?cb=20161029214304"
                         alt="">
                    <form class="form-signin">
                        <input type="email" name="email" class="form-control" placeholder="Imejl" required autofocus>
                        <input type="password" name="password" class="form-control" placeholder="Haseło" required>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">
                            Najpierw najedź, potem kliknij</button>
                        <label class="checkbox pull-left">
                            <input type="checkbox" value="remember-me">
                            Zapamientaj mnje
                        </label>
                    </form>
                </div>
            </div>
        </div>
    </div>#}
{% endblock %}
