{% include 'base.html.twig' %}

{% block body %}
    <div class="content">
        <div class="closeContent">
            {% if voted %}
                Dzięki za to! (chodzi o oddany głos jak co)
            {% endif %}
            <a href="/queue/mem/{{ mem.id }}">
                <img src="{{ images_dir }}/{{ mem.imageName }}"/>
                <form method="POST">
                    <button name="like">+1 (głos jakby ktoś nie wiedział)</button>
                </form>
            </a>
        </div>
    </div>
{% endblock %}
