{% include 'base.html.twig' %}

{% block body %}
    <div class="content">
        <div class="closeContent">
            {% for mem in Kolejeczka %}
                <a href="/queue/mem/{{ mem.id }}">
                    <img src="{{ images_dir }}/{{ mem.imageName }}"/>
                </a>
                <p class="hehs"></p>
            {% endfor %}
        </div>
    </div>
{% endblock %}

