{% extends  'base.html.twig' %}
{% block body %}
{#    <div class="container">
        <div class="row centered-form">
            <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Tutaj się rejestrujesz</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form">

                            <div class="form-group">
                                <input type="email" name="email" id="email" class="form-control input-sm" placeholder="Imejl">
                            </div>

                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="password" name="password" id="password" class="form-control input-sm" placeholder="Haseło">
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-sm" placeholder="Te samo haseło">
                                    </div>
                                </div>
                            </div>

                            <input type="submit" value="Zapraszamy, zapraszamy..." class="btn btn-info btn-block">

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>#}
{% endblock %}
