{% include 'base.html.twig' %}

{% block body %}
    <div class="box">
        <img src="{{ asset('pictures/nerva1.png') }}">
        <a href="https://www.twitch.tv/nervarien" target="_blank">Dawaj tutaj zią</a>
    </div>        
{% endblock %}
