.navbar-default {
    background-color: gold;
    border-color: black;
}

body {
    background-image: url(../pictures/lol.jpg);
}

.form-group{
    text-align: center;
    color: gold;
    margin: auto;
    width: 15%;
}

.content{
    width: 400px;
    margin: auto;
    text-align: center;
    background-color: black

}

.closeContent {

    margin:30px;
    padding-top: 15px;
}

img {
   max-width: 100%;
}

.box{
    width: 250px;
    margin: auto;
    text-align: center;
    
}

.box a image{
    vertical-align: middle;
    border: 0px;
}

.navbar-default .navbar-nav>li>a{
   
   color: black;
}

.navbar-default .navbar-brand {
   
   color: black;
}

.hehs {
    height: 15px;
}

